:root{
  --main-left:46.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* media: {
    mobile: '(max-width: 376px)',
    largeMobile: '(max-width: 500px)',
    tablet: '(max-width: 835px)',
    laptopTab: '(max-width: 975px)',
    sLaptop: '(max-width: 1024px)',
    laptop: '(max-width: 1270px)',
    largeLaptop: '(max-width: 1440px)',
    xlLaptop: '(max-width: 1908px)',
  }, */

@media (max-width: __px) {
}

a{
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  max-width: fit-content;
}

a:hover{
  color:rgb(255, 153,  0);
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(36, 32, 32);
  color: white;
  padding: 1rem;
  gap: 15rem;
}

footer{
  height: 12rem;
  display: flex;
}

.nameblack{
    background-color: rgb(15, 14, 14);
    height: 12rem;
    min-width: 7%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    left: 46.5%;
    border: 2px solid rgb(235, 222, 222);
}

.nameblack img{ 
    margin: 0 auto;
    height: 1.5rem;
    cursor: pointer;
    transition: 0.3s; 
}

.nameblack img:hover{
  scale: 1.4;
}

.nameorange{
  background-color: rgb(247, 173, 61);
  height: 12rem;
  width: 46.5% ;
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(235, 222, 222);

}

.nameorange a img{
  height: auto;
  display: flex;
  width: 6rem;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  max-width: 8rem;
  
}

.nameorange a img:hover{
  scale: 1.2;
}

.nameorange a{
  margin-left: 2rem;
}

.rodapeuepa{
  display: flex;
  align-items: center;
}

.infocontato{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: fit-content;
  right: 0;
  margin-right: 2rem;
}


.infocontato img{
  width: 4rem;
}

.infolocal{
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.textinfolocal{
  margin-left: 1.5rem;
}

.textinfocontato{
  margin-right: 1.5rem;
}

.textinfocontato h3{
  text-align: end;
}

.namegrey{
  background-color: rgb(63, 61, 61);
  height: 12rem;
  width: 46.5%;
  float: right;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  border: 2px solid rgb(235, 222, 222);
  justify-content: space-between;
  flex-direction: row-reverse;
}

.namegrey a img{
  height: auto;
  display: flex;
  width: 4rem;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.namegrey a img:hover{
  scale: 1.2;
}

.nome{
  position: absolute;
  font-style: italic;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  bottom: 0;
}

.nome p{
  font-size: small;
}


.part1,
.part2 {
  display: flex;
  width: 30rem;
  justify-content: space-around;
}

.part2{
  padding-left: 4.5rem;
}

.head1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

.contato {
  display: flex;
  flex-wrap: wrap;
  max-width: 20rem;
  border: 1px;
  align-items: center;
  gap: 1rem;
}

.textcont {
  font-size: 0.8rem;
}

.horario {
  display: flex;
  flex-wrap: wrap;
  max-width: 20rem;
  border: 1px;
  align-items: center;
  gap: 1rem;
}

.horario, .contato {
  transform: translateX(-65px); 
}

.local {
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
  border: 1px;
  align-items: center;
  gap: 1rem;
}

.logamazon {
  position: relative;
  width: 16rem;
}

.logamazon img {
  width: 12rem;
  position: absolute;
  top: 0;
  border-radius: 10px;
  z-index: 100;
}

.contato img {
  max-height: 2.2rem;
  max-width: 2.2rem;
}

.horario img {
  max-height: 2.2rem;
  max-width: 2.2rem;
}

.local img {
  max-height: 2.2rem;
  max-width: 2.2rem;
}

#presentation {
  background-image: url(../img/amazoniatec.png);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: cover;
  filter: brightness(0.3);
  position: relative;
}


.secpre h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  top: 20rem;
  padding-left: 4rem;
  position: absolute;
}

.secpre h1 span {
  color: rgb(255, 153, 0);
}

.secpre p {
  color: white;
  top: 27rem;
  position: absolute;
  padding-left: 6rem;
  max-width: 58rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.secpre span{
  color: rgb(255, 153, 0);
}

/*MAIN*/

.horizontal-bar {
  height: 4px;
  width: 16rem;
  background-color: rgb(255, 153, 0);
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 2rem;
}

.container-title h1{
  font-size: 2.5rem;
}

/* Layout para a seção curso-estrutura */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4rem 6rem;
}

/* Estilizando o carrossel */
.carousel-container {
  width: 45%;
  overflow: hidden; /* Esconde as imagens fora do container */
  position: relative; /* Necessário para o posicionamento do carrossel */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;

}

.carousel img {
  min-width: 100%; 
  height: auto;
  border-radius: 15px; 
  transition: transform 0.5s ease-in-out; 
}


/* Cards de descrição do evento */
.cards-curso {
  width: 55%;
  padding: 2rem;
  background-color: white;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.76);
  border-radius: 10px;
}

.cards-curso h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cards-curso p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

#curso-estrutura h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#curso-estrutura h1 span {
  color: rgb(87, 87, 87);
}

#curso-estrutura ol {
  margin-left: 20px;
}

#curso-estrutura ul {
  margin-left: 30px;
}


